body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.header,
.footer {
  display: flex;
  justify-content: space-around;
  color: white;
  background: #1F2937;
  align-items: center;
}

.footer {
  padding: 2%;
}

.logo {
  font-size: 20px;
  color: #F9FAF8;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

li {
  padding: 10px 5px;
  margin: 0;

}

.subtitle,
a {
  color: #E5E7EB;
  font-size: 14px;
}

.subtitle {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  padding: 10px;
}

.statement-body {
  display: flex;
  background: #1F2937;
  justify-content: space-around;
  align-items: stretch;
  padding: 3vh 15vw
}

.title-text {
  width: 35vw;
  margin-right: 30px;
}

.title {
  font-size: 40px;
  color: #F9FAF8;
  padding: 0;
  margin: 0;
}
.title-image {
  flex-shrink: 0;
  background: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 150px;
  color: white;
}


button {
  color: #F9FAF8;
  font-weight: bold;
  background: #3882F6;
  border: 0px;
  border-radius: 4px;
  padding: 5px 20px;
}

.illustrations {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
  margin: 30px 0 0 0;
  padding: 0;
}

.info-tiles {
  display: flex;
  gap: 30px;
  padding: 2vh 0 5vh;
  flex-wrap: wrap;
}

.tile-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-tile {
  width: 100px;
  height: 100px;
  border: 3px solid #3882F6;
  border-radius: 8px;
  margin-bottom: 10px;
}

.tile-text {
  text-align: center;
  width: 130px;
  color: darkgray;
}

.quote {
  background: #E5E7EB;
  display: flex;
  justify-content: center;
  padding: 6%;
}

.quote-text {
  width: 60%;
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.quote-text p {
  font-size: 26px;
  font-style: italic;
  color: #1F2937;
  margin: 0;
}

.quote-text span {
  font-weight: bold;
  align-self: flex-end;
  margin: 10px 20px 0 0;
}

.signup-section {
  background: #3882F6;
  margin: 5% 15%;
  padding: 2% 10%;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.signup-text {
  color: #F9FAF8;
  margin: 3px;
}

.signup-text h3 {
  margin: 0;
  padding: 0 0 2px 0;
  font-size: 24px;
}

.signup-foot {
  border: 1px solid #F9FAF8;
  margin-bottom: 5px;
}